<div class="d-flex justify-content-center">
  <div class="d-flex flex-column align-items-center" style="width: 40%;">
    <h3 class="mb-2">
      URL Shortner
    </h3>
    <div class="mb-2">
      <i class="fas fa-link fa-5x"></i>
    </div>
    <div class="mb-2">
      {{#unless showShortenURL}}
      <form class="d-flex flex-column align-items-center" action="/" method="POST">
        <div class="form-group">
          <input type="url" class="form-control" name="inputURL" placeholder="Input URL here" size="60">
        </div>
        <button type="submit" class="btn btn-primary" onclick="check_input('inputURL')">Shorten</button>
      </form>
      {{/unless}}
      {{#if showShortenURL}}
      <div class="d-flex flex-column">
        <h3>Success! Please use this link:</h3>
        {{!-- <input type="text" id="copy" value="{{shortenURL}}" disabled> --}}
        <input type="text" id="copy" value="{{shortenURL}}">
        <button type="button" class="btn btn-primary" onclick="copy_to_clipboard('copy')">Copy</button>
      </div>
      {{/if}}
    </div>
  </div>
</div>

<script>
  function check_input(name) {
    const elements = document.getElementsByName(name)
    const value = elements[0].value

    if (value === '') {
      alert("Please input valid URL");
    }
  }

  function copy_to_clipboard(id) {
    /* Get the text field */
    const copyText = document.getElementById(id);
    console.log(copyText.value)

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");

    /* Alert the copied text */
    alert("Copied the text: " + copyText.value);
  }
</script>